<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Título do aplicativo</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu #menu2 li ul").hide();
            $("#menu #menu2 li").hover(
						              function () { $(this).children("ul").show(); },
									  function () { $(this).children("ul").hide(); }
											);
        });
    </script>
</head>
<body>
    <div id="cabecalho">
		<a href="/exemplares">
            <img src="/assets/logo.jpg" width="15%"></a>
		</div>
        
        <div style="float: right;">
            <a href="/usuarios">Usuários</a> <a href="/logout">Sair</a></div>
			<div id="titulo" align=center>
			     <font face="Gentium basic" size="20" color="#35cc9c">M</font>
			     <font face="Gentium basic" size="20" color="999966">useu </font>
			     <font face="Gentium basic" size="20" color="#35cc9c">V</font>
			     <font face="Gentium basic" size="20" color="999966">irtual</font>
		         <font face="Gentium basic" size="5" color="#35cc9c">3D</font>
			</div>
    </div>
    <div id="menu">
        <ul id="menu2">
            <li>Cadastros
                <ul>
                    <li><a href="/filos">Cadastro de Filo</a></li>
                    <li><a href="/clases">Cadastro de Classe</a></li>
                    <li><a href="/ordems">Cadastro de Ordem</a></li>
                    <li><a href="/familia">Cadastro de Família</a></li>
                    <li><a href="/generos">Cadastro de Gênero</a></li>
                    <li><a href="/especs">Cadastro de Espécie</a></li>
                    <li><a href="/exemplares">Cadastro de Exemplar</a></li>
                    <li><a href="/usuarios">Cadastro de Usuário</a></li>
                </ul>
            </li>
            <li>Relatórios</li>
        </ul>
    </div>
</body>
</html>
