<div id="box">
    
    <h4 align="center"><hr />Gênero<hr /></h4>
    
    <div style="width:35%; float:left">
    	<input type="button" id="maisgenero" value="Novo Gênero" onclick="javascript:window.location='/generos/new'" />
    </div>
    <div style="width:65%; float:left"> 
    	Busca:<input id="txtNome" type="text" />
    	<input id="btnBusca" type="button" value="OK" />
    </div>
    </form>
    <br /><br /><br />
    
    <table id="tab" border="1px;">
        <thead>
            <tr>
                <th>Generos</th>
                <th align="center" style="width:100px">Editar</th>
                <th align="center" style="width:100px">Excluir</th>
            </tr>
        </thead>
        <tbody>
		<% @generos.each do |genero| %>
            <tr>
                <td><%= link_to genero.descricao, genero %></td>
                    <td align="center" style="width:100px">
						<%= link_to image_tag("/assets/editar.png", :size => "24x24") ,edit_genero_path(genero) %>
                    </td>
					
						<td align="center" style="width:100px;">
						<%= link_to image_tag("excluir.png", :size => "24x24"),genero, confirm: "Você esta certo disso?", method: :delete  %>  					
						</td>
					
			<% end %>
            </tr>
        </tbody>
    </table>
    </div>
