<%= render :partial => "/comum/menu" %>
    <h2>
        Gênero</h2>
    <form id="FormBusca">
    Novo Gênero:
    <input type="button" id="maisGenero" value="+" onclick="javascript:window.location='/generos/new'" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Busca:
    <input id="txtNome" type="text" />
    <input id="btnBusca" type="button" value="OK" />
    </form>
    <br />
    <table id="tb2" border="1" cellpadding="0" cellspacing="0" class="table_geral">
        <thead>
            <tr>
                <th width="225px">
                    Descrição
                </th>
                <th width="225px">
                    Família
                </th>
                <th width="225px">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
				<% @generos.each do |genero| %>
                <td width="225px">
                    <%= link_to genero.descricao, edit_genero_path(genero) %> 
                </td>
                <td width="225px">
                    <%= genero.familia_id %>
                </td>
                <td width="225px">
                    <%= genero.status %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

