<div id="box">
    	<h4 align="center"><hr />Ordem<hr /></h4>
    			<form>
    			<table cellspacing="0" id="tab">
                    <tr>
                        <td>Filo:</td>
						<td>
						<% @clases.each do |clase| %>
							<% if @ordem.clase_id == clase_id %>
								<% @filos.each do |filo| %>
									<% if clase.filo_id == filo.id %>
										<td><%= filo.descricao %></td>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
						</td>
                    </tr>
                    <tr>
            			<td>Classe:</td>
            			<td>
						<% @clases.each do |clase| %>
							<% if @ordem.clase_id == clase_id %>
								<td><%= clase.descricao %></td>
							<% end %>
						<% end %>
						
						</td>
            		</tr>
                    <tr>
            			<td><b>Ordem:</b></td>
            			<td><b>  <%= @ordem.descricao %></b></td>
            		</tr>
                	<tr>
                        <td></td>
                        <td></td>
    				</tr>
					<tr>
                        <td><%= link_to image_tag("/assets/voltar.png", :size => "24x24"), ordems_path %><</td>
                        <td style="width:900px;"></td>
        			</tr>
    			</table>
    			</form>
    </div>