
<div id="b">
    	<h4 align="center"><hr />Equipe Museu Virtual 3D<hr /></h4>
    		<form>				
				<p>
				Este projeto foi desenvolvido pelos alunos do curso de An&aacute;lise de Sistemas da Universidade do Estado da Bahia, Campus II, Alagoinhas-BA, pela disciplina de T&oacute;picos II, orientada pelo professor Hugo Saba.
				</p>
                				
				<p><b>Supervisor:</b><br>
				Hugo Saba</p>
				<p>
					<b>Equipe de Design:</b><br>
					Jadson Santos - Respons&aacute;vel<br>
					Allana Siqueira<br>
					Allan Paix&atilde;o<br>
					Leidiene Barbosa<br>
				</p>
				
				<p>
					<b>Equipe de Teste:</b><br>
					Josualdo Dias<br>
					Alexande C&acirc;mara<br>
					
				</p>
				
				<p>
					<b>Equipe de Desenvolvimento:</b><br>
					Felipe Andrade - Respons&aacute;vel<br>
					Ana Paula Gomes<br>
					Diana Pereira<br>
					Maira Cerqueira<br>
					Yvens Almeida<br>
				</p>
            </form>
     
    </div>
    

