<%= render :partial => "comum/menu"%>
<h2>Usuário</h2>
    <form id="FormBusca">
    Novo Usuário:
    <input type="button" id="maisUsuario" value="+" onclick="javascript:window.location='/usuarios/new'" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Busca:
    <input id="txtNome" type="text" />
    <input id="btnBusca" type="button" value="OK" />
    </form>
    <br />
    <table id="tb2" border="1" cellpadding="0" cellspacing="0" class="table_geral">
        <thead>
            <tr>
                <th width="225px">
                    Nome
                </th>
                <th width="225px">
                    Função
                </th>
                <th width="225px">
                    E-mail
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
			<% @usuarios.each do |usuario| %>
                <td width="225px">
                    <%= link_to usuario.nome, edit_usuario_path(usuario) %>
                </td>
                <td width="225px">
                    <%= usuario.nome %>
                </td>
                <td width="225px">
                    <%= usuario.usuario %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>