<div id="box">    
	<h4 align="center"><hr />Usuário<hr /></h4>
    <form>
    <div style="width:35%; float:left">
    	<input type="button" id="novoUsuario" value="Novo Usuário" onclick="javascript:window.location='/usuarios/new'" />
    </div>
    <div style="width:65%; float:left"> 
    	Busca:<input id="txtUsuario" type="text" />
    	<input id="btnBusca" type="button" value="OK" />
    </div>
    </form>
    <br /><br /><br />
    
    <table id="tab" border="1px;">
        <thead>
            <tr>
                <th>Usuário</th>
                <th align="center" style="width:100px">Editar</th>
                <th align="center" style="width:100px">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
			<% @usuarios.each do |usuario| %>
                <td><%= link_to usuario.nome, usuario %></td>
                    <td align="center" style="width:100px">
                        <%= link_to image_tag("/assets/editar.png", :size => "24x24") ,edit_usuario_path(usuario) %>
                    </td>
                    <td align="center" style="width:100px;">
                        <%= link_to image_tag("excluir.png", :size => "24x24"),usuario, confirm: "Você esta certo disso?", method: :delete  %>  
                    </td>
            </tr>
			<% end %>
        </tbody>
    </table>
    </div>