/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background: #cbe4bd url("/assets/fundo.jpg") repeat-x;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	}

/* ----- BOX ------- */
#box{
	width:900px;
	height:100%;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	}

/* ---- TOPO ---- */
#box1{
	width:900px;
	height:100px;
	margin-right:auto;
	margin-left:auto;
}

#logo{
	float:left; 
	width:25%;	
	}

#usuario_logado{
	float:left; 
	width:75%; 
	padding-top:60px;	
	}
	
#usuario_logado a {
	text-decoration: none;
	}
/* ---- CONT ---- */
#cont{
	width:900px;
	height:auto;
}
	
/* ---- MENU ---- */

#menu
{
    background: #009966;
    width: 900px;
    height: 35px;
	margin-right:auto;
	margin-left:auto;
	color: white;
}

	
#menu li
{
    height: 27px;
    padding-top: 5px;
    margin: 0;
}

ul li
{
    border: none;
}

ul
{
    list-style: none;
}

li
{
    width: 170px;
    padding: 3px;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    background: #009966; /* cor antiga 009966*/
	color: #FFF;
}

li:hover
{
    background-color:#FFF;
    color: #009966;
    text-decoration: none;
    height: 40px;
}

ul li a
{
    color:#000;
    text-decoration: none;
}

a:hover
{
    color: #000;
    background: white;
}

/*submenu*/
li > ul
{
    position: absolute;
    left: 87px;
    top: -1px;
    color: black;
}
/*fim submenu*/

#menu ul#menu2 > li
{
    float: left;
}

#menu ul#menu2 > li > ul
{
    left: -40px;
    top: 35px;
}

/* tables */


#tab
{
	width:900px;	
	border-collapse: collapse;
    border: 1px solid #009966;
    color: #000;    
}

#tab-login{
width:400px;
border-collapse:collapse;
border:1px solid #009966;
margin-top:150px;
margin-right:auto;
margin-left:auto;
	
}



table thead tr th
{
   text-align:center;
   height: 20px;
}

tbody th
{
    background: white;
}

tbody tr
{
    background: white;
}

td, th
{
    padding: 3px 3px 3px 3px;
    line-height: 1.3em;
}
th
{
    background: #839E99;
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding-right: .5em;
    vertical-align: top;
    background: white;
}
thead th
{
    background: #009966;
    height: 30px;
}

#uneb{
	clear: both;
	background:url("/assets/rodape.fw.png");
	font-size:12px; 
	font-family: Verdana, Geneva, sans-serif; 
	width:900px; 
	height:90px;
	color:#000;
	display:table;
	margin:0 auto;
	position:relative;
	bottom: 0;
	}
	
	}

#logo{
	background:#9C0;
	float:right;
	width:35%;
	height:100%;
	}

hr{ 
	width: 900px;
	}
	

a{  
	text-decoration:none;
	color:#000066;
	}


