
	


/* ---- TABELAS ---- */


#tab
{
width:900px;	
border-collapse: collapse;
border: 1px solid #009966;
color: #000;
}

table thead tr th
{
   text-align:center;
   height: 20px;
}

tbody th
{
    background: white;
}

tbody tr
{
    background: white;
}

td, th
{
    padding: 6px 6px 6px 6px;
    line-height: 1.3em;
}
th
{
    background: #839E99;
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding-right: .5em;
    vertical-align: top;
    background: white;
}
thead th
{
    background: #009966;
    height: 30px;
}


