<div id="box">
    	<h4 align="center"><hr />Filo<hr /></h4>
    			<form>
    			<table cellspacing="0" id="tab">
                    <tr>
                        <td><b>Filo:</b></td>
                        <td><b><%= @filo.descricao %></b></td>
                    </tr>
                <tr>
                	<td></td>
                    <td></td>
    			</tr>
				<tr>
            		<td>
					<%= link_to image_tag("/assets/voltar.png", :size => "24x24"), filo_path %></td>
            		<td style="width:900px;"></td>
        		</tr>
    			</table>
    			</form>
    </div>