<!DOCTYPE html>
<html>
<head>
     <!-- título -->
	<title>Museu Zoo</title>
	<!-- css -->
	<link rel="stylesheet" href="scripts/style.css" type="text/css" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- script do menu drop down-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu #menu2 li ul").hide();
            $("#menu #menu2 li").hover(
				function () { $(this).children("ul").show(); },
				function () { $(this).children("ul").hide(); }
				);
        });
    </script>
 </head>
<body>

<div id="topo">
    	<div id="box1">
        	<div id="logo"><a href="index.php"><img src="imagens/museu-logo.png"/></a></div>
        	<div id="usuario"><p align="right">Olá, Usuário! | Sair</p></div>
        </div>
    
    	<div id="menu">
        	<ul id="menu2">
            	<!-- item módulos do menu -->
            	<li>Módulos
                	<ul>
                        <li><a href="filo.php">Filo</a></li>
                        <li><a href="classe.php">Classe</a></li>
                        <li><a href="ordem.php">Ordem</a></li>
                        <li><a href="familia.php">Família</a></li>
                        <li><a href="genero.php">Gênero</a></li>
                        <li><a href="exemplar.php">Exemplar</a></li>
                	</ul>
            	</li>
            	<!-- intem relatórios do menu -->
           	  <li>Relatórios</li>
       	  </ul>
        </div>
        
    </div>


<%= yield %>

</body>
</html>