<!DOCTYPE html>
<html>
<head>
  
	<title>Museu Zoo</title> 
   <%= csrf_meta_tags %>   
   
   <%= stylesheet_link_tag  "application", :media => "all" %>
   
   <%= javascript_include_tag "application" %>
   
   <script type="text/javascript">
   <!-- script do menu drop down-->
        $(document).ready(function () {
            $("#menu #menu2 li ul").hide();
            $("#menu #menu2 li").hover(
				function () { $(this).children("ul").show(); },
				function () { $(this).children("ul").hide(); }
				);
        });
    </script>

</head>
<body>
		<div id="topo">
    	<div id="box1">
        	<div id="logo"><a href="/home"><img src="/assets/museu-logo.png"/></a></div>
        	<div id="usuario_logado"><p align="right">Olá, Nome do Usuário! | <a href="/usuarios">Cadastrar Novo</a><a href="/logout">| Sair</a></p></div>
        </div>
    
    	<div id="menu">
        	<ul id="menu2">
            	<!-- item módulos do menu -->
            	<li>Módulos
                	<ul>
                        <li><a href="/filos">Filo</a></li>
                        <li><a href="/clases">Classe</a></li>
                        <li><a href="/ordems">Ordem</a></li>
                        <li><a href="/familia">Família</a></li>
                        <li><a href="/generos">Gênero</a></li>
                        <li><a href="/exemplares">Exemplar</a></li>
                	</ul>
            	</li>
            	<!-- intem relatórios do menu -->
           	  <li>Relatórios
				<ul>
					<li><a href="/relatorio/relatorio_exemplares">Exemplares</a></li>
					<li><a href="/hierarquia/hierarquia">Hierárquia</a></li>
				</ul>
			  </li>
       	  </ul>
        </div>
        
    </div>

<%= yield %>


<br /><hr />
<div id="uneb" align="center"><br /><br />Universidade do Estado da Bahia - UNEB<br />
    :. Museu de Zoologia - um projeto de: <a href="/page/equipe" target="_blank">Museu Virtual 3D </a>.:
    <br />
</div>

</body>
</html>
